<div class="card">
  <div class="card-header">
    <p>Posted by {{id}} in {{location}}</p>
  </div>
  <p class="card-body">{{message}}</p>
  <form id="replyForm">
    <input id="replyInput" type="text" />
    <button id="replyComments" type="submit">send</button>
  </form>
</div>