<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>ChatDown</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>    
    <div class="gallery">
      {{#if loggedIn}}
   <form id="comment-form">
      <div>
        <input type="text" id="postOnFeed"/>
      </div>
      <div>
        <button type="submit">Post</button>
      </div>
    </form>
      {{/if}}
      {{{body}}}
    </div>
  </main>
  <script src="/js/feed.js"></script>
  <script src="/js/logout.js"></script>
</body>

</html>