<div class="float-container">
  <div class="float-child-left">
    <div class="welcome-back"> Create an account</div>
    <h2 class="login-instructions">Please enter your details!</h2>
    <form class="signup-form">
      <label for="email-login" class="text-input-label">Email</label>
      <input class="text-input" type="text" id="email-signup" />
      <label for="email-login" class="text-input-label">Username</label>
      <input class="text-input" type="text" id="username-signup" />
      <label for="password-login" class="text-input-label">Password</label>
      <input class="text-input" type="password" id="password-signup" />
      <button class="form-button" type="submit">Sign up</button>
    </form>
  </div>
  <div class="float-child-right">
    <div class="welcome-back">Welcome back</div>
    <h2 class="login-instructions">Please enter your details!</h2>
    <form class="login-form">
      <label for="email-login" class="text-input-label">Email</label>
      <input class="text-input" type="text" id="email-login" />
      <label for="password-login" class="text-input-label">Password</label>
      <input class="text-input" type="password" id="password-login" />
      <button class="form-button" type="submit">Login</button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>